body {
	background-color: darkslateblue;
}
table,
tr,
th,
td {
	border: 2px solid darkolivegreen;
	border-radius: 25px;
	color: saddlebrown;
	padding: 5px;
}
table {
	width: 400px;
	border-radius: 12px;
	background-color: seagreen;
}
td {
	text-align: center;
	font-weight: 500;
	border-radius: 25px;
	background-color: aquamarine;
}
tfoot {
	color: #4545a1;
}
th {
	background-color: burlywood;
}
