body {
	background-color: aquamarine;
}
h1 {
	text-align: center;
}

table,
th,
tr,
td {
	border: 1px solid black;
	margin: auto;
}
table {
	width: 500px;
}
#rojo {
	color: red;
}
#negro {
	background-color: black;
}
.naranja {
	background-color: orangered;
}
.fosfo {
	background-color: greenyellow;
}
#italic {
	font-style: italic;
}
